---
layout: null
---

/*
 * @Author: Conghao Wong
 * @Date: 2023-10-12 18:43:02
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2025-11-17 14:58:03
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
 */

.publication_box {
    padding: 10px;
    margin-top: 15px;
    border: 1px solid #c4c6c7a0;
    border-radius: 15px;
    transition: all 0.2s;
    display: flex;
    align-items: center;
}

.publication_box:hover {
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.3);
}

.publication_info_box {
    margin-left: 15px;
    margin-bottom: 10px;
    flex: 1;
}

.publication_title {
    margin-top: 12px;
    font-size: 16pt;
    font-weight: 800;
    line-height: 1.1;
}

.publication_author {
    /* font-size: 12pt; */
    font-weight: normal;
    font-style: italic;
    margin-top: 10px;
    margin-bottom: 30px;
}

.publication_journal {
    /* margin-top: 10px; */
    font-size: 12pt;
    font-weight: normal;
}

.publication_buttons {
    margin-top: 20px;
}

.publication_picture {
    margin-left: auto;
    margin-right: 15px;
    width: 30%;
    flex: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

.publication_picture img {
    max-width: 100%;
    height: auto;
    display: block;
}

.dark-mode .publication_title,
.dark-mode .publication_author,
.dark-mode .publication_journal {
    color: #FFF;
}

.dark-mode .publication_box {
    background-color: #2f2f2f;
    border-color: #2f2f2f;
}

.dark-mode .publication_box:hover {
    background-color: #3d3d3d;
}

.badge-custom {
    border-radius: 1.0em;
}