---
layout: page
title: Publications
subtitle: Our Trajectory Prediction Research
cover-img: /subassets/img/pic_publications.jpeg
page_bg: gray
---
<!--
 * @Author: Conghao Wong
 * @Date: 2023-03-03 16:04:54
 * @LastEditors: Conghao Wong
 * @LastEditTime: 2026-05-13 10:55:22
 * @Description: file content
 * @Github: https://cocoon2wong.github.io
 * Copyright 2023 Conghao Wong, All Rights Reserved.
-->

<link rel="stylesheet" href="/subassets/css/publication_box.css">

<div id="pagination-controls-top" class="pagination-controls" data-title="Publication List"></div>

<div id="publication-list">
    {% assign current_year = "" %}

    {% for pub in site.data.pub_data %}
    {% if pub.year != current_year %}
    <h3 class="pub-year" data-year="{{ pub.year }}">{{ pub.year }}</h3>
    {% assign current_year = pub.year %}
    {% endif %}

    <div class="publication_box pill pub-item" data-parent-year="{{ pub.year }}">
        <div class="publication_info_box">
            <div class="publication_title">{{ pub.title }}</div>
            <div class="publication_author">{{ pub.authors }}</div>
            <div class="publication_journal">
                {{ pub.journal }}
                {% if pub.submitted and pub.submitted != "" %}
                <br>{{ pub.submitted }}
                {% endif %}
            </div>

            {% case pub.status %}
            {% when 'I' %}<span class="pill pill_single pub-badge--progress">In progress</span>
            {% when 'C' %}<span class="pill pill_single pub-badge--conf">Conference</span>
            {% when 'J' %}<span class="pill pill_single pub-badge--journal">Journal</span>
            {% endcase %}

            <div class="pill pill_container">
                {% if pub.github and pub.github != "" %}
                <a class="pill_item" href="{{ pub.github }}">GitHub</a>
                {% endif %}
                {% if pub.arxiv and pub.arxiv != "" %}
                <a class="pill_item" href="{{ pub.arxiv }}">Paper</a>
                {% endif %}
                {% if pub.homepage and pub.homepage != "" %}
                <a class="pill_item" href="{{ pub.homepage }}">Homepage</a>
                {% endif %}
            </div>
        </div>
        <div class="publication_picture">
            {% if pub.picture and pub.picture != "" %}
            <img src="/subassets/img/publications/{{ pub.picture }}">
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>

<div id="pagination-controls-bottom" class="pagination-controls"></div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        const itemsPerPage = 5;
        const items = Array.from(document.querySelectorAll('.pub-item'));
        const years = Array.from(document.querySelectorAll('.pub-year'));
        const paginationContainers = Array.from(document.querySelectorAll('.pagination-controls'));

        let currentPage = 1;
        const totalPages = Math.ceil(items.length / itemsPerPage);

        window.goToPage = function (page) {
            if (page < 1 || page > totalPages) return;
            currentPage = page;
            renderPage(currentPage);
        };

        function renderPage(page) {
            items.forEach(item => item.style.display = 'none');
            years.forEach(year => year.style.display = 'none');

            const start = (page - 1) * itemsPerPage;
            const end = start + itemsPerPage;
            const currentItems = items.slice(start, end);

            currentItems.forEach(item => {
                item.style.display = 'flex';
                const itemYear = item.getAttribute('data-parent-year');
                const targetYearHeader = years.find(y => y.getAttribute('data-year') === itemYear);
                if (targetYearHeader) {
                    targetYearHeader.style.display = 'block';
                }
            });

            renderControls();

            window.scrollTo({
                top: document.getElementById('publication-list').offsetTop - 100,
                behavior: 'smooth'
            });
        }

        function renderControls() {
            if (totalPages <= 1) {
                paginationContainers.forEach(container => container.innerHTML = '');
                return;
            }

            let prevHtml = '';
            if (currentPage > 1) {
                prevHtml = `
                <ul class="pagination blog-pager">
                    <li class="page-item previous">
                        <a class="page-link" href="javascript:void(0);" onclick="goToPage(${currentPage - 1})">
                            <i class="fas fa-arrow-left"></i>
                            <span class="d-none d-sm-inline-block">Previous</span>
                        </a>
                    </li>
                </ul>`;
            }

            let centerHtml = `<div class="pill pill_container">`;
            for (let i = 1; i <= totalPages; i++) {
                if (i === currentPage) {
                    centerHtml += `<span class="pill_item pill_active">${i}</span>`;
                } else {
                    centerHtml += `<a class="pill_item" href="javascript:void(0);" onclick="goToPage(${i})">${i}</a>`;
                }
            }
            centerHtml += `</div>`;

            let nextHtml = '';
            if (currentPage < totalPages) {
                nextHtml = `
                <ul class="pagination blog-pager">
                    <li class="page-item next">
                        <a class="page-link" href="javascript:void(0);" onclick="goToPage(${currentPage + 1})">
                            <span class="d-none d-sm-inline-block">Next</span>
                            <i class="fas fa-arrow-right"></i>
                        </a>
                    </li>
                </ul>`;
            }

            paginationContainers.forEach(container => {
                let titleHtml = '';

                const optionalTitle = container.getAttribute('data-title');

                if (optionalTitle) {
                    titleHtml = `<h2 style="margin: 0;">${optionalTitle}</h2>`;
                }

                container.innerHTML = `
                <div style="width: 100%; display: flex; justify-content: space-between; align-items: center;">
                    
                    <div class="pagination-left-group">
                        ${prevHtml}
                        ${titleHtml}
                    </div>
                    
                    <div class="pagination-right-group">
                        ${centerHtml}
                        ${nextHtml}
                    </div>
                    
                </div>`;
            });
        }

        renderPage(currentPage);
    });
</script>
